.sidebar {
    background-color: rgb(26, 26, 33);
    height: 100vh;
    padding: 30px;
    grid-row: 1 / -1;
    color: var(--light-text);
    font-size: 20px;
}
.sidebar li {
    list-style-type: none;
}
.sidebar-logo {
    color: white;
}
